<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let question of surveyQuestions" class="question">
    <ng-container [ngSwitch]="question.type">
      <mat-label>{{ question.id }}. {{ question.question }}</mat-label>

      <textarea
        *ngSwitchCase="QuestionType.Text"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        matInput
        [type]="question.type"
        [formControlName]="question.id"
      >
      </textarea>

      <mat-radio-group
        *ngSwitchCase="QuestionType.Radio"
        [formControlName]="question.id"
      >
        <mat-radio-button
          *ngFor="let option of question.options"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>

      <div *ngSwitchCase="QuestionType.MultipleCheckbox">
        <div
          *ngFor="let option of question.options; let i = index"
          [formArrayName]="question.id"
        >
          <mat-checkbox [formControlName]="i">{{ option.label }}</mat-checkbox>
        </div>
      </div>

      <mat-checkbox
        *ngSwitchCase="QuestionType.Checkbox"
        [formControlName]="question.id"
        >{{
          surveyForm.get(question.id)?.value
            ? question.options![0].label
            : question.options![1].label
        }}</mat-checkbox
      >

      <mat-form-field *ngSwitchCase="QuestionType.Select" appearance="outline">
        <mat-select [formControlName]="question.id">
          <mat-option
            *ngFor="let option of question.options"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngSwitchCase="QuestionType.MultipleSelect"
        appearance="outline"
      >
        <mat-select [formControlName]="question.id" [multiple]="true">
          <mat-option
            *ngFor="let option of question.options"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>

  <button type="submit" mat-raised-button color="primary">Accept</button>
</form>

<div class="test">
  <pre>
    Form value: 
    {{ surveyForm.value | json }}
  </pre>

  <pre>
    Submit value: 
    {{ submittedValue | json }}
  </pre>
</div>
