<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let question of surveyQuestions" class="question">
    <ng-container [ngSwitch]="question.type">
      <mat-label>{{ question.id }}. {{ question.question }}</mat-label>

      <textarea
        *ngSwitchCase="QuestionType.Text"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        matInput
        [type]="question.type"
        [formControlName]="question.id + ''"
      >
      </textarea>

      <mat-radio-group
        *ngSwitchCase="QuestionType.Radio"
        [formControlName]="question.id + ''"
      >
        <mat-radio-button
          *ngFor="let option of question.options"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>

      <div
        *ngSwitchCase="QuestionType.Checkbox"
        [formArrayName]="question.id + ''"
      >
        <div [formArrayName]="question.id + ''">
          <div *ngFor="let option of question.options; let i = index">
            <div [formControlName]="i">
              <mat-checkbox>{{ option.label }}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      <mat-form-field *ngSwitchCase="QuestionType.Select" appearance="outline">
        <mat-select [formControlName]="question.id + ''">
          <mat-option
            *ngFor="let option of question.options"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>

  <button mat-raised-button color="primary">Accept</button>
</form>
